@import ../../../styles/helpers
.container
    display: flex
    flex-direction: column
    row-gap: 10px
    position: relative
    user-select: none
    animation: fade 0.4s ease forwards

@keyframes fade
    from
        opacity: 0
    to
        opacity: 1
