@import ../../../styles/helpers
@import ../../../styles/blocks/skeleton

.one
    position: relative
    display: flex
    align-items: center
    justify-items: center

    .image
        height: 48px
        width: 48px

.two

    position: relative
    display: flex
    flex-direction: row
    height: 40px
    min-width: 64px

    .image
        height: 40px
        width: 40px

    .image:nth-child(1)
        position: absolute
        left: 0px
        top: 0px

    .image:nth-child(2)
        position: absolute
        animation-delay: 0.2s
        left: 24px
        top: 0px

.three

    position: relative
    display: flex
    flex-direction: row
    height: 38px
    min-width: 56px
    .image
        height: 28px
        width: 28px

    .image:nth-child(1)
        position: absolute
        left: 0px
        top: 10px

    .image:nth-child(2)
        position: absolute
        animation-delay: 0.2s
        left: 14px
        top: 2px

    .image:nth-child(3)
        position: absolute
        animation-delay: 0.4s
        left: 28px
        top: 10px

.image
    animation: grow 0.4s ease forwards
    object-fit: cover
    user-select: none
    position: relative
    overflow: hidden
    border-radius: 50%
    border: 2px solid $n7
    background-color: $n6
    display: grid
    place-items: center
    transform: scale(0)

    +dark
        background-color: $n2
        border: 2px solid $n1

    svg
        fill: $n3
        +dark
            fill: $n4

@keyframes grow
    to
        transform: scale(1)
