@import ../../../styles/helpers

.info

.title
    +caption-bold-1
    font-weight: 500
    width: 100%
    color: $n3
    +dark
        color: $n8

.author
    width: 100%
    color: $n4
    +dark
        color: $n5
